body {
    background-color: #E1F4D5;
    height: 100%;
    width: 100%;
}

.wrapper {
    background-color: #E1F4D5 !important;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    font-weight: bold !important;
    flex-direction: column;
}

a {
    color: inherit !important;
}

.sub-wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.web-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.form-group {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0 !important;
}

.form-control {
    height: 40px !important;
    width: 100% !important;
    border-radius: 20px !important;
    background-color: #AEDAD0 !important;
    border: 0 !important;
    font-weight: bold !important;
    color: #000000 !important;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.form-control, 
.btn-primary {
    height: 40px;
}

.main-login-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.main-login-btn > button {
    background-color: #AEDAD0;
    color: #000000;
    height: 40px;
    border: 0;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}

::placeholder {
    color: #646464;
}
input {
    color: red;
}
  
.navigation {
    display: flex;
    flex-direction: column;
}

.nav-menu {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    width: 100% !important;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #274E45;
    gap: 8%;
}

.nav-menu ul li:hover {
    color: #274E45;
    cursor: pointer;
}

.home-container,
.about-us-container,
.gallery-container,
.contact-us-container,
.store-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.about-us-container,
.contact-us-container,
.gallery-container {
    gap: 10px !important;
    font-size: 15px;
}

.product-quality-container {
    background-color: #274E45;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pq-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.pq-description-container {
    background-color: #4DAE97;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    color: #FFFFFF;
}

.pq-descriptions {
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pq-descriptions > h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Julee';
}

.custom-furniture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #5B9386;
    border-radius: 10px;
}

.cfc-title {
    background-color: #D9D9D9;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: #274E45;
    padding: 10px 0;
    font-family: 'Koulen';
}

.cfc-description {
    padding: 20px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customize-btn {
    padding: 20px 40px;
    background-color: #24705E;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #FFF;
    cursor: pointer;
}

.customize-btn.shop {
    padding: 20px;
}

/* Footer CSS */

.footer-container {
    background-color: #000000;
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.em-contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dc-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dc-container > img {
    height: 20px;
}

.dc-container > p {
    margin-bottom: 0;
}

.footer-wrapper {
    width: 1200px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.direct-social {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.ds-container {
    display: flex;
    flex-direction: column;
}

.direct-contact {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.copyright {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.copyright > hr {
    border-top: 1px solid #FFFFFF !important;
    width: 100%;
}

.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cd-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cd-container > p {
    margin: 0 !important;
}

.gallery-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-div > img {
    width: calc(99%/2);
}

.store-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.store-container form > div {
    background: url(/assets/search.png) no-repeat;
    background-size: 25px;
    background-position: center right;
    background-color: #AEDAD0 !important;
    border-radius: 20px !important;
    background-position-x: 98.5%;
}

.store-container form div > input {
    height: 40px !important;
    width: 96% !important;
    border-radius: 20px !important;
    background: transparent;
    border: 0 !important;
    font-weight: bold !important;
    color: #000000 !important; 
    padding: .375rem .75rem;
    border: none;
    outline: none;
}

.product-list-container,
.product-checkout-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(98% / 4);
    margin-bottom: 20px;
}

.product-container > img {
    width: 100%;
}

.pl-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loggedInNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.loggedInNav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.loggedInNav ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.quantity-container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.quantity-container > button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quantity-container > input[type="number"] {
    width: 50px;
    text-align: center;
}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #274E45;
}

.purchase-btn-container,
.checkout-btn-container,
.dp-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkout-btn-container,
.dp-btn-container {
    width: 100%;
}

.checkout-btn {
    width: 100%;
}

.purchase-btn,
.checkout-btn,
.dp-btn,
.update-acc-btn {
    display: flex;
    background-color: #AEDAD0;
    color: #000000;
    height: 20px;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
}

.purchase-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.customization-btns-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.attach-btn-container,
.msg-btn-container {
    width: 50%;
}

.msg-btn,
.attach-btn {
    display: flex;
    background-color: #AEDAD0;
    color: #000000;
    height: 20px;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
}

.store-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-container:hover {
    background: #000;
    color: #FFF;
}

.cc-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cc-head > img {
    width: 62px;
}

.customization-form-container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.customization-form-container form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.customization-form-container form div > input {
    border: none;
    padding: 0 0 0 10px;
    outline: none;
    color: #000;
    font-weight: bold;
    height: 35px;
}

.customization-form-container form div > textarea {
    outline: none;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px;
    height: 300px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.address-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.recipient-info {
    display: flex;
    flex-direction: column;
}

.add-address-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #087C60;
}

.recipient-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.recipient-container > img {
    width: 70px;
}

.product-checkout-container {
    margin-top: 20px;
}

.checkout-container > hr,
.left-container > hr {
    color: #000;
    width: 100%;
}

.cout-product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(98% / 4);
    margin-bottom: 20px;
}

.cout-product-container > img {
    width: 100%;
}

.cout-default.payment {
    display: flex;
    flex-direction: column;
}

.cout-default.payment div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.radio-btn-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cout-default.payment div div > label {
    margin: 0;
}

.pm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: #00ffc4;
    border-radius: 40px;
}

.pm-container.standby {
    background: #ffe39d;
}

.pm-div-label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.tracking-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 40px;
}

.progress-meter-container {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ac-left-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
}

.ac-left-container > img {
    border-radius: 50%;
}

.dp-btn {
    width: 100%;
}

.account-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.ac-right-container {
    width: 100%;
}

.acrc-sub-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ac-right-container > h3 {
    text-align: center;
}

.acrc-sub-container div > h5 {
    margin: 0;
}

.update-acc-btn {
    margin-top: 30px;
}

.acrc-sub-container form div > input {
    height: 40px !important;
    width: 100% !important;
    border-radius: 0px !important;
    background: #AEDAD0 !important;
    border: 0 !important;
    font-weight: bold !important;
    color: #000000 !important;
    padding: .375rem .75rem;
    border: none;
    outline: none;
}

.acrc-sub-container form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.acrc-sub-container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.transaction-history-container {
    background: #94cbff;
    padding: 20px;
    margin-bottom: 40px;
}

.thc-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.thc-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
